.agent_search_show{
  background: #f3f3f3;

  main {

    #results {
      overflow: auto;
    }

    .agent {
      border: 1px solid #333;
      margin: 10px;
      overflow: auto;
      padding: 10px;
      border-radius: 5px;
      background: #fff;

      .photo{
        img{
          width: 100px;
        }
      }

      .pi {
        float: left;
        width: 150px;
      }

      .stats {
        float: left;
      }
    }
  }
}